@import 'header';
@import 'projects';
@import 'education';
@import 'experience';
@import 'publication';
@import 'nav';
body{
  min-width: 800px;
  max-width: 1000px;
  margin:auto;
}
h2.section-title{
  font-size:20px;
}
